body
{
    background-color:#faedcf;
    font-family:sans-serif;
}

#Title > h1,h2,h3
{
    color:green;
    text-align:center;
}

#topContainer
{
    display:grid;
    grid-template-columns: 30vw 25vw 25vw 20vw;
    margin:auto;
}

#portrait
{
    margin:auto;
    border-radius:50%;
    width:50%;
}

#nav
{
    text-align:center;
    padding-top:20px;
}

#nav li
{
    display:inline;
    outline: 3px solid black;
    padding:20px;
    font-size:30px;
}

#tabFrame
{
    margin-top:100px;
    margin-left:25vw;
    margin-right:25vw;
    min-height:25vw;
    min-width:25vw;
    max-width: 50vw;
}

#tabContainer
{
    height:2em;
    margin-left:2em;
}

#tabContent
{
    background-color:grey;
    margin-left:3em;
    margin-right:1em;
    padding:3em;
    border:3px solid black;
    border-radius:2%;
}

#tabs li
{
    padding:1em;
    padding-left:3em;
    padding-right:1em;
    border-right:3px solid black;
    display:inline;
    background-image:url("tab.png");
}