.needsBackground {
  border: solid black 1px;
  color: black;
  background-color: white;
}

.button {
  font-family: "Courier New", Courier, monospace;
  padding: 0 1rem;
  border: solid black 1px;
  color: black;
  background-color: white;
}

.linkElement {
  color: black;
  background-color: white;
  font-family: "Courier New", Courier, monospace;
  padding: 0 1rem;
}

.textElement {
  font-family: "Courier New", Courier, monospace;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 1rem;
  max-width: 700px;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.enforceAlign {
  align-items: center;
}

.border {
  border: solid grey 2px;
}
