.puyo {
  .needsBackground {
    color: white;
    background-color: darkblue;
    border-color: white;
  }

  .button {
    color: white;
    background-color: darkblue;
    border-color: white;
    border-width: 0.1rem;
    font-family: monospace;
    padding: 0 1rem;
  }

  .textElement {
    color: white;
    border-width: 0.1rem;
    font-family: monospace;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 1rem;
    max-width: 700px;
  }
}
